.recent_post_list {
  @extend %list-delete-style;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-bottom: 60px;

  &_el {
    display: flex;
    flex-basis: 50%;

    &_text_container {
      text-align: start;
      margin-left: 20px;
    }

    &_text_header {
      margin: 0;
      color: #4E4E4E;
      @include textSize(700, 16px, 30px, none);
    }

    &_text_data_paragraph {
      @include textSize(400, 12px, 20px, none);
      margin: 0;

      &_element {
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    &_text_paragraph {
      @include textSize(400, 14px, 26px, none);
      color: #5C5C5C;
      margin-top: 13px;

    }
  }
}